In [6]:
a = range(5)
list(a)

[0, 1, 2, 3, 4]

In [14]:
#idades = [15, 34, 45, 76, 45, 76,54, 99]
import random

idades = [random.randrange(0,99) for i in range(10)]

1 85
2 79
3 87
4 11
5 20
6 44
7 36
8 80
9 57
10 37

In [17]:
for i in range(len(idades)):
    print(i+1, idades[i])

1 85
2 79
3 87
4 11
5 20
6 44
7 36
8 80
9 57
10 37

In [21]:
b = enumerate(idades, 1)
list(b)

[(1, 85),
 (2, 79),
 (3, 87),
 (4, 11),
 (5, 20),
 (6, 44),
 (7, 36),
 (8, 80),
 (9, 57),
 (10, 37)]

In [23]:
for indice, idade in enumerate(idades,1):
    print(indice, "x", idade)

1 x 85
2 x 79
3 x 87
4 x 11
5 x 20
6 x 44
7 x 36
8 x 80
9 x 57
10 x 37

In [25]:
usuarios = [
    ("asd", 12, 1235),
    ("assdd", 22, 1235),
    ("324asd", 33, 1232)
]

for nome, idade, nascimento in usuarios:
    print(nome)

asd
assdd
324asd

In [37]:
for _, __, ___ in usuarios: #desempacotando as tuplas
    print(_)
    
a

asd
assdd
324asd

1232

In [43]:
#sorted(idades)
#list(reversed(idades))
sorted(idades, reverse=True)

[87, 85, 80, 79, 57, 44, 37, 36, 20, 11]

In [46]:
a = "asdf fjvkajsdkf jbaskiasdfbhnkj"
sorted(a)

[' ',
 ' ',
 'a',
 'a',
 'a',
 'a',
 'b',
 'b',
 'd',
 'd',
 'd',
 'f',
 'f',
 'f',
 'f',
 'h',
 'i',
 'j',
 'j',
 'j',
 'j',
 'k',
 'k',
 'k',
 'k',
 'n',
 's',
 's',
 's',
 's',
 'v']

In [49]:
idades.sort()
idades

[11, 20, 36, 37, 44, 57, 79, 80, 85, 87]

In [52]:
list(reversed(range(1,11)))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [53]:
nomes = ["Paulo", "Ana", "Jack", "Luis"]
sorted(nomes)

['Ana', 'Jack', 'Luis', 'Paulo']

In [69]:
class ContaSalario:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def extrai_saldo(self):
        return self._saldo

    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

    def __rep__(self):
        return "[>>{}<<]".format(self._codigo)

    def __lt__(self, outro):
        return self._saldo < outro._saldo

In [70]:
conta_gui = ContaSalario(17)
conta_gui.deposita(500)

conta_ana = ContaSalario(3)
conta_ana.deposita(1000)

conta_paulo = ContaSalario(23)
conta_paulo.deposita(700)

contas = [conta_ana, conta_gui, conta_paulo]

for conta in sorted(contas, key=ContaSalario.extrai_saldo):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 23 Saldo 700<<]
[>>Codigo 3 Saldo 1000<<]

In [66]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 23 Saldo 700<<]
[>>Codigo 3 Saldo 1000<<]

In [76]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Codigo 3 Saldo 1000<<]
[>>Codigo 23 Saldo 700<<]
[>>Codigo 17 Saldo 500<<]

In [77]:
conta_gui = ContaSalario(1700)
conta_gui.deposita(500)

conta_ana = ContaSalario(3)
conta_ana.deposita(1000)

conta_paulo = ContaSalario(23)
conta_paulo.deposita(500)

contas = [conta_ana, conta_gui, conta_paulo]

In [78]:
for conta in sorted(contas, key=attrgetter('_saldo', '_codigo')):
    print(conta)

[>>Codigo 23 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]

In [86]:
from functools import total_ordering

@total_ordering
class ContaSalario:

    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

    def deposita(self, valor):
        self._saldo += valor

    def extrai_saldo(self):
        return self._saldo

    def __str__(self):
        return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

    def __rep__(self):
        return "[>>{}<<]".format(self._codigo)

    def __lt__(self, outro):
        if self._saldo != outro._saldo:
            return self._saldo < outro._saldo
        
        return self._codigo < outro._codigo

In [88]:
conta_gui = ContaSalario(1700)
conta_gui.deposita(500)

conta_ana = ContaSalario(3)
conta_ana.deposita(5000)

conta_paulo = ContaSalario(23)
conta_paulo.deposita(500)

contas = [conta_ana, conta_gui, conta_paulo]

In [85]:
for conta in sorted(contas):
    print(conta)

[>>Codigo 23 Saldo 500<<]
[>>Codigo 1700 Saldo 500<<]
[>>Codigo 3 Saldo 5000<<]

In [89]:
conta_gui <= conta_ana

True