# Aula 5 - Séries Temporais de Ações

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from prophet import Prophet

C:\Users\Felipe Rigo\AppData\Roaming\Python\Python311\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
dados = yf.download('JNJ', start='2020-01-01', end='2023-12-31', progress=False)
dados = dados.reset_index()
dados.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-02,145.869995,146.020004,145.080002,145.970001,130.099121,5777000
1,2020-01-03,143.500000,145.369995,143.000000,144.279999,128.592865,5752400
2,2020-01-06,144.000000,144.199997,142.850006,144.100006,128.432449,7731300
3,2020-01-07,144.009995,145.449997,141.380005,144.979996,129.216736,7382900
4,2020-01-08,144.869995,145.979996,143.699997,144.960007,129.198944,6605800

In [4]:
dados.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1001,2023-12-22,155.250000,156.529999,155.020004,155.460007,154.288544,3798500
1002,2023-12-26,155.000000,156.350006,154.850006,156.139999,154.963409,4170000
1003,2023-12-27,155.500000,156.520004,155.419998,156.350006,155.171844,5288100
1004,2023-12-28,156.000000,157.240005,155.990005,156.580002,155.400101,4377500
1005,2023-12-29,156.509995,156.899994,155.979996,156.740005,155.558899,4311100

In [5]:
dados_treino = dados[dados['Date'] < '2023-07-31']
dados_teste = dados[dados['Date'] >= '2023-07-31']

In [8]:
dados_prophet_treino = dados_treino[['Date', 'Close']].rename(columns={'Date': 'ds', 'Close': 'y'})
dados_prophet_treino

            ds           y
0   2020-01-02  145.970001
1   2020-01-03  144.279999
2   2020-01-06  144.100006
3   2020-01-07  144.979996
4   2020-01-08  144.960007
..         ...         ...
894 2023-07-24  171.080002
895 2023-07-25  172.389999
896 2023-07-26  172.720001
897 2023-07-27  173.690002
898 2023-07-28  174.479996

[899 rows x 2 columns]

In [9]:
modelo = Prophet(weekly_seasonality=True,
                 yearly_seasonality=True,
                 daily_seasonality=False)

modelo.add_country_holidays(country_name='US')

modelo.fit(dados_prophet_treino)

21:51:51 - cmdstanpy - INFO - Chain [1] start processing
21:51:51 - cmdstanpy - INFO - Chain [1] done processing