# Contatores

In [12]:
import pandas as pd

In [13]:
s = pd.Series(list('asdfsdafsda fasdfmlkasdfnlkaskdfasdf'))

In [14]:
s

0     a
1     s
2     d
3     f
4     s
5     d
6     a
7     f
8     s
9     d
10    a
11
12    f
13    a
14    s
15    d
16    f
17    m
18    l
19    k
20    a
21    s
22    d
23    f
24    n
25    l
26    k
27    a
28    s
29    k
30    d
31    f
32    a
33    s
34    d
35    f
dtype: object

In [15]:
s.unique()

array(['a', 's', 'd', 'f', ' ', 'm', 'l', 'k', 'n'], dtype=object)

In [16]:
s.value_counts()

a    7
s    7
d    7
f    7
k    3
l    2
     1
m    1
n    1
dtype: int64

In [17]:
dados = pd.read_csv('data/aluguel2.csv', sep = ';')

In [18]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [19]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64