# Relatórios de Análise VIII

## Criando Faixas de Valor

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('data/aluguel_residencial_novo.csv', sep = ';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

In [6]:
# 1 e 2 quartos
# 3 e 4 quartos
# 5 e 6 quartos
# 7 ou mais
classes = [0, 2, 4, 6, 999]

In [7]:
quartos = pd.cut(dados.Quartos, classes)

In [8]:
quartos

0        (0.0, 2.0]
1        (0.0, 2.0]
2        (0.0, 2.0]
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
21821    (0.0, 2.0]
21822           NaN
21823    (2.0, 4.0]
21824    (0.0, 2.0]
21825    (0.0, 2.0]
Name: Quartos, Length: 21826, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 999]]

In [9]:
quartos[0]

Interval(0, 2, closed='right')

In [10]:
pd.value_counts(quartos)

(0, 2]      11250
(2, 4]       9681
(4, 6]        686
(6, 999]       50
Name: Quartos, dtype: int64

In [11]:
labels = ['1 e 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']

In [14]:
quartos = pd.cut(dados.Quartos, classes, labels=labels)

In [15]:
pd.value_counts(quartos)

1 e 2 quartos        11250
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64

In [20]:
labels2 = ['0 a 2 quartos', '3 e 4 quartos', '5 e 6 quartos', '7 quartos ou mais']
quartos = pd.cut(dados.Quartos, classes, labels=labels2, include_lowest=True)

In [21]:
quartos

0        0 a 2 quartos
1        0 a 2 quartos
2        0 a 2 quartos
3        0 a 2 quartos
4        0 a 2 quartos
             ...
21821    0 a 2 quartos
21822    0 a 2 quartos
21823    3 e 4 quartos
21824    0 a 2 quartos
21825    0 a 2 quartos
Name: Quartos, Length: 21826, dtype: category
Categories (4, object): ['0 a 2 quartos' < '3 e 4 quartos' < '5 e 6 quartos' < '7 quartos ou mais']

In [22]:
pd.value_counts(quartos)

0 a 2 quartos        11409
3 e 4 quartos         9681
5 e 6 quartos          686
7 quartos ou mais       50
Name: Quartos, dtype: int64