# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python -V

Python 3.11.0

# 1.3 Trabalhando com dados

https://pandas.pydata.org/docs/user_guide/options.html

In [12]:
import pandas as pd
pd.options.display.max_rows = 15
pd.set_option('display.max_columns', 15)

In [2]:
dataset = pd.read_csv('data/db.csv', sep = ';')

In [16]:
type(dataset)

pandas.core.frame.DataFrame

In [17]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [6]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [14]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [15]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [1]:
()

()

In [5]:
1,

(1,)

In [4]:
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [9]:
nomes_carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
nomes_carros = tuple(nomes_carros)
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [10]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [11]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
nomes_carros[0]

'Jetta Variant'

In [16]:
nomes_carros[-4]

'Jetta Variant'

In [18]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [19]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [21]:
nomes_carros[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [22]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [23]:
for item in nomes_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [24]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [25]:
carro_1, c2, c3, c4 = nomes_carros

In [26]:
carro_1

'Jetta Variant'

In [27]:
c2

'Passat'

In [29]:
c3, c4

('Crossfox', 'DS5')

In [30]:
_, A, _, B = nomes_carros

In [33]:
B

'DS5'

In [35]:
a, a, a, b = nomes_carros

In [37]:
b

'DS5'

In [44]:
_, C, *_ = nomes_carros

In [45]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [46]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [47]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [49]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [50]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [51]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [53]:
for carro, valor in zip(carros, valores):
    if valor > 100000:
        print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [54]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [55]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [56]:
carros.index('Passat')

1

In [57]:
valores[carros.index('Passat')]

106161.94

In [59]:
dados = {'A': 3, 'B': 23, 'C': 54}
dados

{'A': 3, 'B': 23, 'C': 54}

In [64]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [60]:
type(dados)

dict

### Criando dicionários com *zip()*

In [61]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [63]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operações com dicionários

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [66]:
dados['Passat']

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [67]:
a = 'Passat'
a in dados

True

In [70]:
b = 'Fusca'
b in dados

False

In [71]:
b not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [72]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [80]:
dados['Fusca'] = 20000.0
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Fusca': 20000.0}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [79]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
del dados['Passat']
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [15]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados.update({'Passat': 10000})
dados

{'Jetta Variant': 88078.64, 'Passat': 10000, 'Crossfox': 72832.16}

In [88]:
dados.update({'Passat': 10001, 'Fusca': 20000})
dados

{'Jetta Variant': 88078.64,
 'Passat': 10001,
 'Crossfox': 72832.16,
 'Fusca': 20000}

In [16]:
dados.update(Passat = 10002, Fusca = 20002)
dados

{'Jetta Variant': 88078.64,
 'Passat': 10002,
 'Crossfox': 72832.16,
 'Fusca': 20002}

## *dict.copy()*

Cria uma cópia do dicionário.

In [4]:
dadosCopy = dados.copy()
dadosCopy

{'Jetta Variant': 88078.64, 'Passat': 10000, 'Crossfox': 72832.16}

In [91]:
del dadosCopy['Passat']
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'Fusca': 20000}

In [92]:
dados

{'Jetta Variant': 88078.64,
 'Passat': 10001,
 'Crossfox': 72832.16,
 'Fusca': 20000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [5]:
dadosCopy

{'Jetta Variant': 88078.64, 'Passat': 10000, 'Crossfox': 72832.16}

In [6]:
dadosCopy.pop('Passat')

10000

In [7]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

In [9]:
dadosCopy.pop('Passat', 'Chave não encontrada!')

'Chave não encontrada!'

In [10]:
dadosCopy.pop('Crossfox', 'Chave não encontrada!')

72832.16

## *dict.clear()*

Remove todos os itens do dicionário.

In [13]:
dadosCopy.clear()

In [14]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [17]:
dados.keys()

dict_keys(['Jetta Variant', 'Passat', 'Crossfox', 'Fusca'])

In [18]:
for key in dados.keys():
    print(dados[key])

88078.64
10002
72832.16
20002

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [19]:
dados.values()

dict_values([88078.64, 10002, 72832.16, 20002])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [20]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Passat', 10002), ('Crossfox', 72832.16), ('Fusca', 20002)])

In [25]:
for i in dados.items():
    print(i)

('Jetta Variant', 88078.64)
('Passat', 10002)
('Crossfox', 72832.16)
('Fusca', 20002)

In [24]:
for chave, valor in dados.items():
    print(chave, valor)

Jetta Variant 88078.64
Passat 10002
Crossfox 72832.16
Fusca 20002

In [23]:
for chave, valor in dados.items():
    if valor > 20002:
        print(chave)

Jetta Variant
Crossfox

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

In [27]:
valores = []
for valor in dados.values():
    valores.append(valor)
valores

[88078.64, 10002, 72832.16, 20002]

In [28]:
soma = 0
for valor in dados.values():
    soma += valor
soma

190914.8

In [32]:
sum(dados.values(), start = 1)

190915.8

In [30]:
list(dados.values())

[88078.64, 10002, 72832.16, 20002]

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [34]:
def media():
    valor = (1+2+3)/3
    print(valor)
media()

2.0

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [35]:
def media(n1,n2,n3):
    valor = (n1+n2+n3)/3
    print(valor)
media(1,2,3)

2.0

In [36]:
media(33, 22, 77)

44.0

In [37]:
def media(lista):
    valor = sum(lista) / len(lista)
    print(valor)

In [42]:
media([1,2,3,4,52,6,7,534,165,3])

77.7

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [53]:
def media(lista):
    valor = sum(lista) / len(lista)
    return valor

In [54]:
resultado = media([2,3,4,52,6,7,534,165,3])
resultado

86.22222222222223

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [55]:
def media(lista):
    valor = sum(lista) / len(lista)
    return (valor, len(lista))

In [56]:
resultado, n = media([2,3,4,52,6,7,534,165,3])
resultado

86.22222222222223

In [57]:
n

9

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [61]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [62]:
letras = ['b', 'a', 'b', 'd', 'c']
letras

['b', 'a', 'b', 'd', 'c']

In [63]:
pd.Series(letras)

0    b
1    a
2    b
3    d
4    c
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [64]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [65]:
dataset = pd.DataFrame(dados)

In [66]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [67]:
dataset[['Motor', 'Ano']]

             Motor   Ano
0  Motor 4.0 Turbo  2003
1     Motor Diesel  1991
2  Motor Diesel V8  1990

### Criando um DataFrame a partir de um dicionário

In [68]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [69]:
dataset = pd.DataFrame(dados)

In [70]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [83]:
dataset = pd.read_csv('data/db.csv', sep=';')

OSError: [Errno 22] Invalid argument: 'data/db.csv'

In [90]:
dataset = dataset.set_index('Nome')

KeyError: "None of ['Nome'] are in the columns"

# 5.2 Seleções com DataFrames

In [92]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

### Selecionando colunas

In [95]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [96]:
type(dataset[['Valor']])

pandas.core.series.Series

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [98]:
dataset[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas segundo os rótulos ou uma matriz booleana.

In [101]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [102]:
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [103]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [104]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> Seleciona com base nos índices, ou seja, se baseia na posição das informações.

In [110]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [109]:
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [112]:
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [113]:
dataset.iloc[1:4, [0, 5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [114]:
dataset.iloc[[1,42,22], [0, 5, 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

# 5.3 Queries com DataFrames

### Utilizando o método query

# 5.4 Iterando com DataFrames

# 5.5 Tratamento de dados